@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
 }

body {
    height:100vh;
    /*  é utilizada para alterar a propriedade padrão da box model, usada para calcular larguras (widths) e alturas */
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.titulo-destaque{
    color: #22DAFD;
}
/* alterar dentro main */
.apresentacao {
    display: flex;
    margin: 10% 15%;
    align-items: center;
    /*  é empregada para alinhar os elementos ao longo do eixo principal, */
    justify-content: space-between; 
}
/* alterar titulo princip */
.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    /* A propriedade gap não é exclusiva do Flexbox, porém é utilizada quase sempre em conjunto com ele. */
    gap: 40px;

}
/* alterar titulo h1 */
.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
/* alterar paragrafo */
.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    background-color: #22DAFD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color:black;
    font-family: 'Montserrat', sans-serif; 
    
}